services:
  - type: worker
    name: telegram-bot
    build:
      env:
        PYTHON_VERSION: 3.11.12
    buildCommand: pip install --upgrade pip setuptools wheel maturin && pip install -r requirements.txt
    startCommand: python bot_mvp.py
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        value: postgresql://neondb_owner:npg_0eRPsTi9tJAj@ep-winter-snow-ab9o1qut-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require
      - key: BOT_TOKEN
        sync: false
